.ajout-rando {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.ajout-rando h1 {
  text-align: center;
  margin-bottom: 1em;
}

.ajout-rando form div {
  margin-bottom: 1em;
}

.ajout-rando label {
  display: block;
  margin-bottom: 0.5em;
}

.ajout-rando input[type="text"],
.ajout-rando textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ajout-rando input[type="file"] {
  padding: 0.5em;
}

.ajout-rando button {
  display: block;
  min-width: 100px;
  color: black;
  background-color: #d9d9d9;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
}

.ajout-rando button:hover {
  background-color: #5d7052;
  color: #d9d9d9;
}
