.vos-randos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-container {
  text-align: center;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-image {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.vos-rando-image {
  width: 50vw;
  border-radius: 1rem;
}

.text-vos-randos {
  display: flex;
  text-align: start;
  flex-direction: column;
}

textarea {
  min-height: 10px;
  resize: none;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 520px) {
  .img-container {
    display: flex;
  }

  .vos-rando-image {
    display: flex;
    justify-content: flex-start;
    width: 50vw;
    height: 50vw;
    border-radius: 1rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}
